<h1 align="center">Foo Bar Baz</h1>

<p align="center">You typed: <%= @login %></p>

<p align="center">The Password: <%= @password %></p>

<p align="center"><%= @if_stop %></p>

<form action="/" method="POST">
  <center>
  <input type="text" name="login">
  <input type="password" name="pass"><br/>
  <input type="submit">
  </center>
</form>