<!doctype html>
<html>
<head>
  <%= erb :style %>
</head>
<body>
<div>
  <h1>Babershop</h1>

  <form action="/" method="POST">
    <table>
      <tr>
        <th>Your name:</th>
        <td><input type="text" name="user_name"></td>
      </tr>
      <tr>
        <th>Your phone:</th>
        <td><input type="text" name="phone"></td>
      </tr>
      <tr>
        <th>Date and time:</th>
        <td><input type="text" name="date_time"></td>
      </td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit"></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
