# Default ignored files
/RubySchool.US.iml
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Projects\Ruby\RubySchool.US\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
